/* global elements */

* {
    font-family: 'Josefin Sans', sans-serif;
}

/* navbar element */

ul.navbar {
    border-radius: 10px;
    font-size: 40; 
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: rgb(75, 92, 94);
    position: sticky;
    top: 0;
}

ul.navbar li {
    display: inline;
    float: left;
}

ul.navbar li a {
    color: rgb(255, 255, 255);
    display: block;
    padding: 10px;
    background-color: rgb(75, 92, 94);
}

ul.navbar li a:hover {
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(89, 111, 112); 
}

/* general html element */

body {
    background-color: rgb(150, 176, 180);
}


h1 {
    font-size: 50;
}

footer {
    font-size: 25;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
  

/* index history section */
  
.historytext {
    font-size: 35px;
}

/* index overview section */

.overview_container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    background-color: rgb(165, 200, 203);
    border-radius: 8px;
}

.overview_item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.overview_img {
    height: 100%;
    width: 100%;    
    overflow: hidden;
    border-radius: 8px;
}


/* trad climbing history section */

.tradhistory_container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px; 
    border-radius: 8px;
}

.tradhistory_item {
    padding: 20px;
    font-size: 30px;
    text-align: left;
    font-size: 35;
}

.tradhistory_item2 {
    background-color: rgb(165, 200, 203);
    padding: 20px;
    text-align: center;
    border-radius: 8px;

}


.tradhistory_img {
    height: auto;
    width: 50%;    
    border-radius: 8px;
}

/* trad protection section */

.tradpro_container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(165, 200, 203);
    border-radius: 8px;
}

.tradpro_item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-size: 35;
}

.tradpro_img {
    height: auto;
    width: 50%;    
    border-radius: 8px;
}

/* sport climbing history section */

.sporthistory_container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px; 
    border-radius: 8px;
}

.sporthistory_item {
    padding: 20px;
    font-size: 30px;
    text-align: left;
    font-size: 35;
}

.sporthistory_item2 {
    background-color: rgb(165, 200, 203);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}


/* sport climbing gear section */
.sport_container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(165, 200, 203);
    border-radius: 8px;
}

.sport_item {
    padding: 20px;
    font-size: 30px;
    text-align: left;
    font-size: 35;
}

.sport_img {
    height: auto;
    width: 50%; 
    display: block;
    margin-left: auto;
    border-radius: 8px;
}

/* bouldering history section */
.boulderhistory_container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px; 
    border-radius: 8px;
}

.boulderhistory_item {
    padding: 20px;
    font-size: 30px;    
    text-align: left;
    font-size: 35;
}
